body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    -ms-overflow-style: none; 
    --scrollbar-width: none;
}

a:hover{
  font-size: larger;
  text-decoration: underline;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.96);
}

.nav-link:focus, .nav-link:focus-within, .nav-link:hover{
    font-size: larger;
    text-decoration: underline;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.96) !important;
  }

a:visited{
    color: rgba(255, 255, 255, 0.96);
}

::-webkit-scrollbar {
    display: none;
}

iframe::-webkit-scrollbar {
    display: none;
}
nav{
    top: 100%;
    z-index: 2;
    width: 100%;
    padding-top: 1.5rem;
    border-bottom: #333 solid 1px;
    position: fixed !important;
    top: 0;
}

nav a{
    color: rgba(255, 255, 255, 0.844);
    text-decoration: none;
}

nav:active{
    text-decoration: underline;
}

.nav-item a{
    color: rgba(255, 255, 255, 0.844);
}

.navbar-brand{
    font-size: 1.5em;
    font-weight: 600;
    padding-left: 2em;
    text-align: center;
}

nav ul{
    list-style: none;
}

.navbar-nav{
    flex-direction: row !important;
}

nav ul li{
    display: inline-block;
    padding-left: 2em;
}

nav ul:last-child{
    padding-right: 2em;
}

#landing{
    background: url("../images/Black-3D-Blocks-iphone-13-pro-max.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(255, 255, 255, 0.844);
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.write{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.write h1{
    vertical-align: middle;
}

#landing img{
    width: 15rem;
    padding-top: 9em;
    border-radius: 50%;
    position: relative;
    top: 0rem;
    animation: float 1.5s linear infinite alternate;
}
.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -9rem;
}
@keyframes float{
    0%{top: 0em;}
    50%{top: 1em;}
    100%{top: 0em;}
}

.bars{
    background-color: #6f6f6f !important;
}

                /* skills */
 
#skills{
    background: #6f6f6f;
    background-size: cover;
    background-position: center;
    height: 60vh;   
    color: rgba(255, 255, 255, 0.844);
    display: flex;
    justify-content: center;
}

.skills-container{
    text-align: center;
    width: 80%;
    margin: auto;
}

.skills-container h3{
  padding: 1em;
}

.jq{
    font-size: larger;
    margin-bottom: 1em;
}

.fa-lg{
    margin-bottom: 1em;
}

/* Media Queries */

@media (min-width: 520px) {
    .con{
        display: none;
    }
    #contact{
        display: none;
    }
}

@media (max-width: 500px) {
    #sma{
        display: none;
    }

    .write h1{
      font-size: 2.3em;
      margin-top:1em;
    }

    .write p{
        font-size: 1.3em;
        margin-top:0.5em;
      }

    .navbar-brand{
        padding: 0.5em;
        display: block;
        margin: auto;
    }

    .write{
        padding: 2em;
    }
    
    #landing{
        position: relative;
    }
    #landing img{
        transform: scale(0.9);
    }

    .project{
        width:86vw !important;
    }

    #portfolio p{
        padding:1em 2em;
        font-size: 1em;
    }

    #portfolio h2{
        padding-top: 3em;
    }

    .accordion{
        display: inline-block;
        position: fixed;
        bottom: 0;
    }

    #skills{
        height: 55vh;
    }

    .row .col-sm-6{
        width: auto !important;
    }
}

/* Portfolio */
#portfolio{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: rgba(255, 255, 255, 0.844);
    background: url('../images/kamran-abdullayev-4vB_6moWZ5Q-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio h2{
    margin:1em 2em;
}

#portfolio p{
    font-size: 0.75em;
}
.project{
    height: 55vh;
   width: 50vw;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 2em;
}

.class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #6f6f6f;
    color: rgba(255, 255, 255, 0.844);
}

footer a{
    color: rgba(255, 255, 255, 0.844);
    text-decoration: none;
    display: inline-block;
    padding-right: 2rem;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

footer img{
    height: 1rem;
    width: 1rem;
    opacity: 0.9;
}

/* Social Media Accordion */
#sma {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    position: absolute;
    position: fixed;
    left: 0;
    top: -1%;
    transform: scaleY(70%);
}

  @font-face {
    font-family: 'Genericons';
    src: url('font/genericons-regular-webfont.eot');
    src: url('font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genericons-regular-webfont.woff') format('woff'),
         url('font/genericons-regular-webfont.ttf') format('truetype'),
         url('font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.accordion-social-container {
    margin-left: 0 !important;
    margin:  0;
    height: 100%;
    position: absolute;
    left: -1rem;
    top: 7rem;
}

.accordion {
    border-right: #333 solid 1px;
    min-height: 100%;
    position: relative;
    left: 0;
    background: transparent;
    width: 4.5rem;
    min-width: 4.5rem;
    padding-left: 0;
    display: block;
    list-style: none;
    height: 150px;
    font-size: 0 !important;
    mix-blend-mode: difference;
}
.genericon{
    color: #fff;
    font-weight: bolder;
}

.tab {
    border-right: #333 solid 1px;
    width: 4.5rem;
    height: 9.5rem;
    overflow: hidden;
    position: relative;
    position: sticky;
    left: -1em;
    top: 4.8rem;
    margin: 0;
    transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover{
    width: 23vw;
    margin-right: 0;
}

.tab:hover .social a:before {
    margin-left: -100px;
}

.tab:hover .social a:after {
    margin-left: -5px;
}
.tab .content {
    background-color: rgba(255, 255, 255, 0.844);
    color: #333;
    width: 16vw;
    height: 150px;
    margin-top:0;
    margin-left: 80px;
    position: relative;
    padding: 30px 0 0 15px;
}

.tab .content h1 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.tab .content p {
    font-size: 0.75rem;
   line-height: 1.4rem;
   padding-right: 30px;
}

.social a:before,
.social a:after {
    width: 80px;
    height: 150px;
    position: absolute;
    text-indent: 0;
    padding-top: 65px;
    padding-left: 30px;
    display: block;
    font-size: 30px;
    color: #fff;
    transition: all 0.4s ease-in-out 0.1s;
}

.social a:after {
    font-size: 48px;
    align-content: center;
    padding-top: 55px;
    margin-left: 85px;
}

.tab .social a{
    font-size: 0;
}

/* add icons and stir */

.facebook a:before,
.facebook a:after {
    content: "\f204";
}

.facebook a:after {
    background-color: #3b5998;
}

.twitter a:before,
.twitter a:after {
    content:'\f202';
}

.twitter a:after {
    background-color: #6dc5dd;
}

.linkedin a:before,
.linkedin a:after {
    content: '\f208';
}

.linkedin a:after {
    background-color: #00a9cd;
}

.instagram a:before,
.instagram a:after {
    content: '\f200';
}

.instagram a:after {
    background-color: #6dc993;
}

.email a:before,
.email a:after {
    content: "\f410";
}

.email a:after {
    background-color: #f4511e;
}
